.Key {
    width: 50px;
    height: 30px;
    text-align: center;
    border: solid 1px black;
    box-shadow: 0px 3px 5px;
    margin: 5px;
}

.disabled {
    background-color: gray;
}


.Key:hover {
    color: honeydew;
    background-color: hotpink;
}